.day {
  width: 197px;
  height: 430px;
  margin-bottom: 15px;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.containeronetwo {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: left;
}
.containerthreefour {
  width: 100%;
  display: flex;
  justify-content: left;
}
.containerfivesix {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: left;
}
body {
  background: #a0d2eb;
}
