.day {
  width: 210px;
  height: 430px;
  margin: 10px;
}
.container {
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.containeronetwo {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: left;
}
.containerthreefour {
  width: 100%;
  display: flex;
  justify-content: left;
}
.containerfivesix {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: left;
}
body {
  background: #8458b3;
}
* {
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
}
/* / */
